@model LibraryGazi.Entity.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mt-5">
    <h2>Kitap Sil</h2>

    <h3>Silmek istediğinize emin misiniz?</h3>
    <div>
        <h4>Book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Author.author_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author.author_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.category_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.category_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Publisher.publisher_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher.publisher_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bookName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bookName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bookStock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bookStock)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-dark" })
            </div>
        }
    </div>
</div>