@model LibraryGazi.Entity.Book

@{
    ViewBag.Title = "Details";
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container mt-5">
    <h2>Kitap Detayları</h2>

    <div>
        <h4>Book</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="control-label  text-dark">Yazar :</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author.author_name)
            </dd>

            <dt>
                <label class="control-label  text-dark">Kategori:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.category_name)
            </dd>

            <dt>
                <label class="control-label  text-dark">Yayınevi :</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Publisher.publisher_name)
            </dd>

            <dt>
                <label class="control-label  text-dark">Kitap Adı :</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bookName)
            </dd>

            <dt>
                <label class="control-label  text-dark">Stok :</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bookStock)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Back to List", "Index",null,new { @class="btn btn-dark"})
    </p>

</div>